h1{
  color:orange;
  font-size:32px;
}
body {
  width:512px;
  margin-left:auto;
  margin-right:auto;
  border-width:2px;
  border-style:solid;
  border-color:pink;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
} 
td,p1,li{
  font-size:20px;
}
#para1{
  color:green;
}
#para2{
  color:blue;
}
#para3{
  color:pink;
}
    